@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: "Tilt Neon", sans-serif;
    background-color: black;
    overflow-x: hidden;
}



.NavLink {
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-left: 4rem;
    font-size: 1.4rem;
    color: rgba(250, 229, 229, 0.979);
    transition: 100ms ease-in-out;
}

.NavLink:hover {
    text-decoration: underline;
    color: gold;
    text-decoration-color: white;
    transform: translateY(-0.2rem);
}

.Texts {
    letter-spacing: 2px;
    word-spacing: 4px;
    color: rgb(184, 146, 184);
}

.Slide {
    transform: translate(400%);
    transition: transform 0.5s;
}

.Slide:nth-of-type(even) {
    transform: translateX(-400%);
}

.Slide.show {
    transform: translateX(0);
}

.counter {
    letter-spacing: 2px;
    color: rgb(184, 146, 184);
    font-size: 25px;
}

.icon {
    font-size: 15px;
}

.content {
    text-decoration: none;
    transition: transform 0.3s;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.content:hover {
    transform: scale(1.07);
    background-repeat: no-repeat;
}

#hide {
    display: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: monospace;
    color: rgb(237, 224, 238);
}

.content:hover #hide {
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-left: 1190px;
    text-decoration: underline;
    font-size: 30px;
    color: black;
    display: contents;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.banner {
    height: 65%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.Main-Body {
    position: relative;
    top: -100px;
    /* width: 85%;
    height: 2100px; */
    margin: 0 auto;
    /* border-radius: 30px; */
    background-color: rgb(0, 0, 0);
    z-index: 99;
}

.swiper {
    width: 100vw;
    height: 50vh;
  }

  .slider-image{
    overflow: hidden;
  }

  @media  only screen and (max-width: 920px) {  
    .slider-text {
        display: none;
       
    }
    .slider-image{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }
    
}