@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
    margin: 0;
}

.landing-bg {
    align-items: center;
    background: url('./Images/Marvel\ Background10.jpg');
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* width: calc(100vw + 60px);
    height: calc(100vh + 60px); */
    z-index: -1;
    filter: blur(0);
}

.landing-Text {
    display: none;
    font-size: 50px;
    color: wheat;
}

.GetStarted {
    font-family: "Tilt Neon", sans-serif;
    position: relative;
    margin-left: 3rem;
    margin-top: 3rem;
    color: white;
    font-size: 1.2rem;
    border: 2px solid rgb(129, 5, 5) ;
    height: fit-content;
    border-radius: 0.6rem;
    background-color: black;
    text-decoration: none;
    padding: 0.6rem;
    transition: 0.5s;
}

.GetStarted:hover {
    transform: translateY(-1.3rem);
    box-shadow: inset 0rem 0rem 2rem 0.2rem rgb(153, 3, 3);
    border-color: black;
    color: white;
}

@media  only screen and (max-width: 341px) {  
.landing-bg {
    background-position: -32rem;
   
}

}

@media  only screen and (max-width: 414px) {  
        .landing-bg {
            background-position: -54.9rem;
           
        }
        
}
@media  only screen and (max-width: 360px) {  
    .landing-bg {
        background-position: -44.7rem;
       
    }
    
}

